<%= simple_form_for(@user_job) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :job %>
    <%= f.association :result %>
    <%= f.association :requirement %>
    <%= f.input :applied %>
    <%= f.input :interview %>
    <%= f.input :shortlist %>
    <%= f.input :final %>
    <%= f.input :reason %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
