<h1>Jobs <small> Sent(<%= @user_jobs.count %>)</small></h1><hr>

<%= link_to 'New User Job', new_user_job_path %><hr>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>User</th>
      <th>Job</th>
      <th>Result</th>
      <th>Requirement</th>
      <th>Applied</th>
      <th>Interview</th>
      <th>Shortlist</th>
      <th>Final</th>
      <th>Reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_jobs.each do |user_job| %>
      <tr>
        <td><%= user_job.id %></td>
        <td><%= user_job.user.name %> <%= user_job.user.surname %></td>
        <td><%= user_job.job%></td>
        <td><%= user_job.result %></td>
        <td><%= user_job.requirement %></td>
        
        <% if user_job.applied == true %>
          <td><i class="fa fa-thumbs-up text-success"></i></td>
        <% else %>
          <td><i class="fa fa-thumbs-down text-danger"></i></td>
        <% end %>

        <% if user_job.interview == true %>
          <td><i class="fa fa-thumbs-up text-success"></i></td>
        <% else %>
          <td><i class="fa fa-thumbs-down text-danger"></i></td>
        <% end %>

        <% if user_job.shortlist == true %>
          <td><i class="fa fa-thumbs-up text-success"></i></td>
        <% else %>
          <td><i class="fa fa-thumbs-down text-danger"></i></td>
        <% end %>

        <% if user_job.final == true %>
          <td><i class="fa fa-thumbs-up text-success"></i></td>
        <% else %>
          <td><i class="fa fa-thumbs-down text-danger"></i></td>
        <% end %>


        <td><%= user_job.reason %></td>
        <td><%= link_to 'Show', user_job %></td>
        <td><%= link_to 'Edit', edit_user_job_path(user_job) %></td>
        <td><%= link_to 'Destroy', user_job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

