<p>
  <strong>Job link:</strong>
  <a href="<%= @job.job_link %>" target="_blank"><%= @job.job_link %></a>
</p>

<p>
  <strong>Job name:</strong>
  <%= @job.job_name %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @job.company_name %>
</p>

<p>
  <strong>Job description:</strong>
  <%= @job.job_description %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
