<h1>Your search results...</h1><hr>

<% @users.each do |user| %>
<center>
<div class="col-md-3 col-xs-12" ">
    <div class="thumbnail" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height: 320px;">
        <div class="caption">
            <h4 class="text-muted"><%= user.name %> <%= user.surname %></h4><hr>
            <strong><a href="mailto:<%= user.email %>"><%= truncate(user.email.html_safe, length: 20) %></a></strong><hr>
            <% if user.avatar? %>
                <%= image_tag user.avatar.url(:small), class: "avatar" %>
            <% else %>
                <img src="../avatar.gif" alt="No Avatar" class="avatar">
            <% end %>
            <hr>
            <p>
              <%= link_to "View", user, class: "btn btn-info btn-xs" %>
            </p>
        </div>
    </div>
</div>
</center>
<% end %>

<% @jobs.each do |job| %>
<div class="col-md-12 col-xs-12" ">
<h1>Jobs</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Job link</th>
      <th>Job name</th>
      <th>Company name</th>
      <th>Job description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
      <tr>
        <td><a href="</a> <%= job.job_link %>"><%= job.job_link %></a> </td>
        <td><%= job.job_name %></td>
        <td><%= job.company_name %></td>
        <td><%= job.job_description %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    
  </tbody>
</table>
</div>
<% end %>