<h1>Job <small>Results</small></h1><hr>

<% @results.each do |result| %>
  <% if result.id == 1 %> 
    <center>
      <div class="col-md-4 col-xs-12">
          <div class="panel panel-success" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              <div class="panel-heading">
                <h2><%= result.result %></h2>
              </div>
              <div class="panel-body">
                <%= link_to 'Show', result %>
              </div>
          </div>
      </div>
    </center>
  <% elsif result.id == 2 %>
    <center>
      <div class="col-md-4 col-xs-12">
          <div class="panel panel-warning" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              <div class="panel-heading">
                <h2><%= result.result %></h2>
              </div>
              <div class="panel-body">
                <%= link_to 'Show', result %>
              </div>
          </div>
      </div>
    </center>
  <% else %>
    <center>
      <div class="col-md-4 col-xs-12">
          <div class="panel panel-danger" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
              <div class="panel-heading">
                <h2><%= result.result %></h2>
              </div>
              <div class="panel-body">
                <%= link_to 'Show', result %>
              </div>
          </div>
      </div>
    </center> 

  <% end %>
<% end %>